<md-card>
    <md-card-title class="heading--name">{{ app.name }}</md-card-title>

    <md-card-content>
        <p>{{ app.description }}</p>
        <div>{{ app.version }}</div>

    </md-card-content>
    <md-card-actions>

        <button md-button [routerLink]="['/app-edit', app.slug]" class="form-action">
            <i class="fa fa-edit fa-2x "></i>
        </button>
        
        <button md-button class="form-action" (click)="removeApp(app)">
            <i class="fa fa-trash fa-2x"></i>
        </button>
    </md-card-actions>

</md-card>