<md-card>
    <md-card-title class="heading--name">{{ form.name }}</md-card-title>

    <md-card-content>
        <p>{{ form.description }}</p>
        <div>{{ form.version }}</div>
        <span *ngFor="let dapp of form.apps">{{dapp}} | </span>

    </md-card-content>
    <md-card-actions>

        <button md-button [routerLink]="['/form-edit', form.id]" class="form-action">
            <i class="fa fa-edit fa-2x " [class.fa-star-o]="!form.star"></i>
        </button>
        
        <button md-button class="form-action" (click)="removeForm(form)">
            <i class="fa fa-trash fa-2x"></i>
        </button>
    </md-card-actions>

</md-card>