
<div class="content-wrapper">
  <h2>
    <button md-fab (click)="this.showDformForm = true;">
      <i class="material-icons">add</i>
    </button>
    Your Forms
  </h2>



  <div *ngIf="showDformForm">
    <dform-form dform="newForm" (close)="addForm($event);"></dform-form>
  </div>

  <md-grid-list cols="3" md-gutter="5px">
     <md-grid-tile *ngFor="let form of store.dforms">
       <dform [form]="form"></dform>
     </md-grid-tile>
  </md-grid-list>



  <pre>
    {{ store.dforms | json}}
  </pre>
</div>