<header>
    Your Forms
</header>
<md-grid-list cols="3" md-gutter="5px">
   <md-grid-tile *ngFor="let form of store.forms">
     <dform [form]="form"></dform>
   </md-grid-tile>
   
</md-grid-list>



<div id="container">
    <header>
        Your Forms
    </header>
    <input #newForm class="add-form" placeholder="Add Form"
          (keyup.enter)="addForm(newForm.value); newForm.value='' ">
    <ul class="form-list">
      <li *ngFor="let form of store.forms">
        <dform [form]="form"></dform>
      </li>
    </ul>
</div>