.active {
    /*background: yellow;*/
    background-color:rgba(156, 39, 176, 0.35);

}


.app-sidenav {
    width: 25%;
}

.content-wrapper {
    margin:2em;
}


.app-sidenav a {
    width: 100%;
}

.content-wrapper {
    margin:2em;
}

md-input {
    margin-bottom: 1em;
}

.margin-bottom {
    margin-bottom: 1em;
}
