<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
    <h2>Field Info</h2>
    <div class="form-group row">
        <label for="label" class="col-xs-2 col-form-label">Label</label>
        <div class="col-xs-10">
            <input  id="label"
                    name="label"
                    class="form-control" 
                    type="text"
                    placeholder="Temperature"
                    ngModel>
        </div>
        <div class="col-xs-10 col-xs-offset-2 help-text">This is the text displayed to the user in the app.</div>
    </div>

    <div class="form-group row">
        <label for="slug" class="col-xs-2 col-form-label">Field Name (slug)</label>
        <div class="col-xs-10">
            <input  id="slug"
                    name="slug"
                    class="form-control" 
                    type="text"
                    placeholder="temparature"
                    ngModel>
        </div>
        <div class="col-xs-10 col-xs-offset-2 help-text">The slug for this field. Will be used in the data export. It should only contain letters, numbers, "-", and "_".</div>
    </div>

    <div class="form-group row">
        <label for="type" class="col-xs-2 col-form-label">Widget Type</label>
        <div class="col-xs-10">
            <select  id="type"
                    name="type"
                    class="form-control" 
                    placeholder="type"
                    ngModel>
                    <option *ngFor="let item of questionTypeChoices" [value]="item.value">{{item.verbose}}</option>
            </select>
        </div>
        <div class="col-xs-10 col-xs-offset-2 help-text">The UI widget used to collect this field</div>
    </div>

    <div class="form-group row">
        <label for="helpText" class="col-xs-2 col-form-label">Help Text</label>
        <div class="col-xs-10">
            <input  id="helpText"
                    name="helpText"
                    class="form-control" 
                    helpText="text"
                    placeholder="helpText"
                    ngModel>
        </div>
        <div class="col-xs-10 col-xs-offset-2 help-text">Additional text to help the user</div>
    </div>

    <input type="submit" class="btn" value="Save">
    <span class="error-text" [hidden]="formGroup.valid || formGroup.pristine">There are errors.</span>
</form>